.search-section {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: 16px 0;
}

.search-section input {
  width: 40%; 
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
  border-radius: 13px;
  border-color: #c2c2c2;
  
}


.search-section button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.search-section button:hover {
  background-color: #0056b3;
}


